/* body {
    background-color: yellow;
} */
:root {
    --color-main: #626262;
    --color-hover: #03A9F4;
    --color-second: #7D7D7D;
    --color-third: #B4AD9E;
}

h2 {
    font-family: "Playfair Display";
}

body {
    background-color: aqua;
}

.gallery-title-list-link {
    color: #B4AD9E;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}